<aside
  id="aside"
  class="mt-16 md:mt-0 mx-auto flex flex-col sm:flex-row md:flex-col justify-center md:justify-start items-center md:items-start w-full">
  <div class="flex flex-col items-center md:w-full">
    <img
      src="/assets/img/logo.svg"
      class="shadow rounded-lg w-24 h-24 sm:w-32 sm:h-32" />
    <span class="text-base text-2xl md:text-3xl mt-2">{{ site.author }}</span>
  </div>

  <div class="flex flex-col mt-4 ml-8 md:ml-0">
    github
    <a class="mb-2" href="https://github.com/dawidpotocki">@dawidpotocki</a>

    email
    <span class="personal-mail onclick-copy mb-2">[Enable JavaScript]</span>

    matrix
    <a class="mb-2" href="https://matrix.to/#/@dawidpotocki:privacytools.io">@dawidpotocki:privacytools.io</a>

    location
    <a class="mb-2" href="https://www.openstreetmap.org/relation/2730349">Christchurch, New Zealand</a>

    license
    <a class="mb-2" href="/LICENSE">ISC License</a>
  </div>
</aside>
