<hr class="nocss-helper" />

<aside class="aside">
  <img class="aside__avatar" src="/assets/img/logo.svg?v=1" alt="" aria-hidden="true" />

  <div class="aside__links">
    <div>
      cgit
      <a class="aside__link" href="https://git.dawidpotocki.com/dawid">git.dawidpotocki.com/dawid</a>
    </div>

    <div>
      email
      <span class="mail--personal onclick-copy aside__link" tabindex="0" role="link">[Enable JavaScript]</span>
    </div>

    <div>
      matrix
      <a class="aside__link" href="https://matrix.to/#/@dawid:dawidpotocki.com">@dawid:dawidpotocki.com</a>
    </div>

    <div>
      location
      <a class="aside__link" href="https://www.openstreetmap.org/relation/2730349">Christchurch, New Zealand</a>
    </div>

    <div>
      license
      <a class="aside__link" href="/LICENSE">BSD 2-Clause "Simplified"</a>
    </div>
  </div>
</aside>
