<p class="nocss-helper"></p>
<nav>
  <div class="navbar">
    <a class="navbar__title navbar__link" href="/">{{ site.author }}</a>

    <input id="hamburger" type="checkbox" hidden />
    <label for="hamburger" class="navbar__menu-btn navbar__link" aria-controls="navbar__menu" hidden>Menu</label>

    <div id="navbar__menu">
      <span class="navbar__links">
        <a class="navbar__link" href="/accounts/">Accounts</a>
        <a class="navbar__link" href="/hardware/">Hardware</a>
        <a class="navbar__link" href="/about/">About</a>
      </span>
      <span class="navbar__links">
        <a class="navbar__link mr-0" href="https://git.dawidpotocki.com/dawid/dawidpotocki.com/">Source</a>
      </span>
    </div>
  </div>
</nav>
<hr class="nocss-helper" />
