h1>a.link,
h2>a.link,
h3>a.link,
h4>a.link,
h5>a.link,
h6>a.link,
#toctitle>a.link,
.sidebarblock>.content>.title>a.link {
  color: var(--fg0);
  text-decoration: none;
}


/* Table of Contents */

.toc {
  background-color: var(--bg1);
  border: 1px solid var(--bg2);

  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.4rem;
}


/* Lists */

.ulist, .olist { margin-bottom: 1rem; }

.ulist .ulist,
.olist .olist {
  margin-bottom: 0;
}

.title {
  font-weight: bold;
  font-style: italic;
}

@counter-style positive {
  system: cyclic;
  symbols: "+";
  suffix: " ";
}

@counter-style questionable {
  system: cyclic;
  symbols: "*";
  suffix: " ";
}

@counter-style negative {
  system: cyclic;
  symbols: "-";
  suffix: " ";
}

.positive {
  color: var(--positive);
  list-style-type: positive;
}

.questionable {
  color: var(--questionable);
  list-style-type: questionable;
}

.negative {
  color: var(--negative);
  list-style-type: negative;
}


ul.square, ul.square ul { list-style-type: square; }
ul.circle, ul.circle ul { list-style-type: circle; }
ul.disc,   ul.disc   ul { list-style-type: disc; }
ul.none,   ul.none   ul { list-style-type: none; }

ol.arabic     { list-style-type:decimal }
ol.decimal    { list-style-type:decimal-leading-zero }
ol.loweralpha { list-style-type:lower-alpha }
ol.upperalpha { list-style-type:upper-alpha }
ol.lowerroman { list-style-type:lower-roman }
ol.upperroman { list-style-type:upper-roman }
ol.lowergreek { list-style-type:lower-greek }


/* Description Lists */

.hdlist table,
.hdlist th,
.hdlist td {
  border: none;
}

.hdlist1 {
  font-weight: bold;
  font-style: italic;
  padding-left: 0;
}


/*
 * Code blocks
 */

.linenos {
    color: var(--code-yellow);
    margin-right: 0.65rem;
    user-select: none;
}


/*
 * Images
 */

.left { float: left; }
.right { float: right; }
