---
---
html { color-scheme: dark; }

:root {
  --fg0: #eeeeee;
  --fg1: #aaaaaa;
  --a:   #60a5fa;

  --bg0: #15191e;
  --bg1: #1b2026;
  --bg2: #2c2c38;
  --bg3: #3f414d;
  --bg4: #474957;

  --positive:     #90F1EF;
  --questionable: #FFEF9F;
  --negative:     #FFD6E0;

  --blue0:   #294799;
  --blue1:   #2e4fab;
  --orange0: #994B29;
  --orange1: #ab542e;

  --code-red:     #e15d5d;
  --code-green:   #a4c252;
  --code-yellow:  #d99463;
  --code-blue:    #78a3c7;
  --code-magenta: #ad7ac4;
  --code-cyan:    #79b5ae;
  --code-muted:   var(--fg1);
}
