@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin '),
    local('Roboto-Thin'),
    url('/assets/font/roboto/roboto-latin-100-normal.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-100-normal.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin italic'),
    local('Roboto-Thinitalic'),
    url('/assets/font/roboto/roboto-latin-100-italic.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-100-italic.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light '),
    local('Roboto-Light'),
    url('/assets/font/roboto/roboto-latin-300-normal.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-300-normal.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light italic'),
    local('Roboto-Lightitalic'),
    url('/assets/font/roboto/roboto-latin-300-italic.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-300-italic.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular '),
    local('Roboto-Regular'),
    url('/assets/font/roboto/roboto-latin-400-normal.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-400-normal.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular italic'),
    local('Roboto-Regularitalic'),
    url('/assets/font/roboto/roboto-latin-400-italic.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-400-italic.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url('/assets/font/roboto/roboto-latin-500-normal.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-500-normal.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium italic'),
    local('Roboto-Mediumitalic'),
    url('/assets/font/roboto/roboto-latin-500-italic.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-500-italic.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold '),
    local('Roboto-Bold'),
    url('/assets/font/roboto/roboto-latin-700-normal.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-700-normal.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold italic'),
    local('Roboto-Bolditalic'),
    url('/assets/font/roboto/roboto-latin-700-italic.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-700-italic.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black '),
    local('Roboto-Black'),
    url('/assets/font/roboto/roboto-latin-900-normal.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-900-normal.woff?v=1') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black italic'),
    local('Roboto-Blackitalic'),
    url('/assets/font/roboto/roboto-latin-900-italic.woff2?v=1') format('woff2'),
    url('/assets/font/roboto/roboto-latin-900-italic.woff?v=1') format('woff');
}
