:root {
  --fg0: #242424;
  --fg1: #454545;
  --a:   #1840b5;

  --bg0: #ebedf0;
  --bg1: #e5e7ed;
  --bg2: #dadae3;
  --bg3: #cbcbd6;
  --bg4: #c0c0cc;

  --blue0:   #3a49bc;
  --blue1:   #3542ab;
  --orange0: #bc5a3a;
  --orange1: #ab5234;

  --code-red:     #970900;
  --code-green:   #00553d;
  --code-yellow:  #733b00;
  --code-blue:    #004990;
  --code-magenta: #830091;
  --code-cyan:    #005167;
  --code-muted:   var(--fg1);
}
