---
---

@import "font";
@import "light";
@import "asciidoc";
@import "pygments";

$sm: 32em;
$md: 48em;
$lg: 64em;
$xl: 80em;



/*
 * Base styling
 */

html { overflow-y: scroll; }  // Avoid content jumping
html, body { height: 100%; }

body {
  background-color: var(--bg0);
  color: var(--fg0);
  font-family: "Roboto", "sans-serif", "Noto Color Emoji", "Apple Color Emoji", "Segue UI Emoji", "Segue UI Symbol";
  line-height: 1.5;
}
pre, code, kbd, samp { font-family: "DejaVu Sans Mono", "monospace"; }

// Links
a, .a {
  color: var(--a);
  cursor: pointer;
  text-decoration: none;
}
:not(main):target {
  background-color: var(--bg2);
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
}

// Headers
.h0 { font-size: 4rem;    }
h1  { font-size: 2rem;    }
h2  { font-size: 1.75rem; }
h3  { font-size: 1.5rem;  }
h4  { font-size: 1.4rem;  }
h5  { font-size: 1.3rem;  }
h6  { font-size: 1.2rem;  }
.h0, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 1.2rem 0 0.55rem 0;
  line-height: 1;
}

// Tables
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1rem 0;
}
th, td { padding: 0.25rem 0.5rem 0.25rem 0.5rem; }
table, th, td { border: 0.1rem solid var(--bg4); }
th { background: var(--bg2); }

// Lists
ul, ol {
  margin: 0;
  padding-left: 1rem;
}
ul ul, ol ol { padding-left: 2rem; }
li p { margin: 0; }

// Code blocks
pre, code {
  background-color: var(--bg1);
  border: 1px solid var(--bg2);
}
pre code { border: none; }
pre {
  background-color: var(--bg1);
  padding: 0.5rem 0.65rem;
  border-radius: 0.5rem;

  overflow: auto;
  max-height: 30rem;
  tab-size: 4;
}

// Paragraphs
p { margin: 0; }
.paragraph { margin-bottom: 1rem; }

// Other
hr { margin: 1rem 0; }



/*
 * Layout
 */

.skip-to-content {
  background-color: var(--bg2);
  text-align: center;

  position: absolute;
  width: 100%;
  top: -100%;

  &:focus { top: 0; }
}

#container {
  display: grid;
  grid-gap: 0 2rem;
  grid-template-columns: minmax(1px, 1fr);

  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  margin: 0 auto 0 auto;
  max-width: 64rem;
}

#main {
  h1:first-of-type { margin-top: 0rem; }
}

@media (min-width: $md) {
  #container { grid-template-columns: minmax(1px, 1fr) max-content; }
  .aside { grid-column: 2/3; }
}



/*
 * Navbar
 */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 64rem;
  padding: 1rem 1.5rem 0.75rem 1.5rem;
  margin: 0 auto 0 auto;

  @media (min-width: $md) {
    flex-wrap: nowrap;
    justify-content: start;
  }


  &__links {
    display: none;
    flex-direction: column;
    @media (min-width: $md) {
      display: flex;
      flex-direction: row;
    }
  }
  &__link {
    color: var(--fg0);
    white-space: nowrap;
    margin: 0.25rem 0;
    @media (min-width: $md) { margin: 0 0.5rem 0 0.5rem; }
  }
  &__title {
    font-weight: bold;
    margin-left: 0;
  }

  &__menu-btn {
    display: block;
    @media (min-width: $md) { display: none; }
  }
}

#navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $md) {
    flex-direction: row;
  }
}

#hamburger:checked ~ #navbar__menu .navbar__links {
  display: flex;
}


/*
 * Aside
 */

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  margin: 4rem auto 0 auto;
  align-items: center;

  @media (min-width: $sm) {
    flex-direction: row;
  }
  @media (min-width: $md) {
    margin-top: 0rem;
    flex-direction: column;
    justify-content: flex-start;
  }


  &__links {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    @media (min-width: $sm) {
      margin-left: 2rem;
    }
    @media (min-width: $md) {
      margin-left: 0rem;
    }
  }

  &__link {
    display: block;
    margin-bottom: 0.75rem;
  }

  &__avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;

    @media (min-width: $sm) {
      width: 8rem;
      height: 8rem;
    }
    @media (min-width: $md) {
      margin: 0 auto;
    }
  }
}



/*
 * Buttons
 */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  color: #fff;
  border-radius: 0.25rem;
  padding: 0.25rem 1.5rem;
  transition-duration: 150ms;

  &__img {
    height: 1.2rem;
    margin-right: 0.5rem;
  }


  // Color variants
  &--gray {
    color: var(--fg0);
    background-color: var(--bg3);
    &:hover { background-color: var(--bg4); }
  }
  &--blue {
    background-color: var(--blue0);
    &:hover { background-color: var(--blue1); }
  }
  &--orange {
    background-color: var(--orange0);
    &:hover { background-color: var(--orange1); }
  }

  // Other variants
  &--small {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &--feed {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.btn-feed-container {
  margin-bottom: 2rem;

  @media (min-width: $sm) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -1rem;
  }
}



/*
 * Article
 */

.article {
  &__date {
    color: var(--fg1);
    margin-top: -0.5rem;
    margin-bottom: 0.5em;
  }
}

.article-preview {
  margin: 1rem 0 1.5rem 0;

  &__date {
    color: var(--fg1);
    font-size: 1.125rem;
    margin-right: 0.5rem;
  }
  &__title {
    font-size: 1.125rem;
  }
}


/*
 * Other
 */

.card {
  background-color: var(--bg2);
  border-radius: 0.25rem;
  padding: 1rem;

  &--frontpage {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @media (min-width: $sm) {
      border-bottom-left-radius: 0.25rem;
    }
  }
}

#clipboard {
  background-color: var(--bg4);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.5rem;
  padding: 0.75rem;

  opacity: 0;
  visibility: hidden;
  transition-duration: 700ms;
}



/*
 * Utilities
 */

// Country flags
.flag {
  white-space: nowrap;
  &__img {
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
  }
}

// Text align
.text-center { text-align: center; }

// Margin
.m-0     { margin: 0; }
.ml-auto { margin-left:   auto; }
.mr-auto { margin-right:  auto; }

// Display
.d-flex       { display: flex;   }
.d-block      { display: block;  }
.d-inline     { display: inline; }
.d-none       { display: none;   }
.nocss-helper { display: none;   }  // Don't use as a generic `display: none`

// Border Radius
.rounded-t-none { border-top-left-radius:  0; border-top-right-radius:    0; }
.rounded-r-none { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.rounded-l-none { border-top-left-radius:  0; border-bottom-left-radius:  0; }

.float-left { float: left; }
