---
---

:root {
  --fg0: #000000;
  --fg1: #454545;

  --bg0: #ffffff;
  --bg1: #f7f7f7;
  --bg2: #f0f0f0;
  --bg3: #dbdbdb;
  --bg4: #d4d4d4;
}


// Fix stupid shit garbage software cutting text in the middle of it
#container { display: inline; }

.navbar, .aside, .btn {
  display: none;
}

pre {
  max-height: unset;
}

.btn-feed-container {
  margin-bottom: 2rem;
}
