pre.pygments {

  .tok-err { border: 1px solid var(--code-red); } /* Error */
  .tok-o { color: var(--code-cyan); } /* Operator */


  /*
   * Comment
   */

  .tok-c,
  .tok-cm,   // Multiline
  .tok-c1 {  // Single
    color: var(--code-blue);
  }

  .tok-cs,   // Special
  .tok-ch {  // Hashbang
    color: var(--code-magenta);
  }

  .tok-cp,    // Preproc
  .tok-cpf {  // PreprocFile
    color: var(--code-red);
  }



  /*
   * Generic
   */

  .tok-gh,   // Generic.Heading
  .tok-gu {  // Generic.Subheading
    color: var(--code-magenta);
  }

  .tok-gi { color: var(--code-cyan);    }  // Generic.Inserted
  .tok-gd { color: var(--code-magenta); }  // Generic.Deleted

  .tok-gs { font-weight: bold;  }  // Generic.Strong
  .tok-ge { font-style: italic; }  // Generic.Emph

  .tok-gr { color: var(--code-red);   } // Generic.Error
  .tok-go { color: var(--code-muted); } // Generic.Output
  .tok-gp { color: var(--code-blue);  } // Generic.Prompt
  .tok-gt { color: var(--code-red);  }  // Generic.Traceback



  /*
   * Keyword
   */

  .tok-k  { color: var(--code-yellow);  }  // Keyword
  .tok-kc { color: var(--code-red);     }  // Keyword.Constant
  .tok-kd { color: var(--code-green);   }  // Keyword.Declaration
  .tok-kn { color: var(--code-magenta); }  // Keyword.Namespace
  .tok-kr { color: var(--code-green);   }  // Keyword.Reserved
  .tok-kt { color: var(--code-green);   }  // Keyword.Type



  /*
   * Literal
   */

  .tok-ld,   // Date
  .tok-m,    // Number
  .tok-mb,   // Number.Bin
  .tok-mh,   // Number.Hex
  .tok-mi,   // Number.Integer
  .tok-il,   // Number.Integer.Long
  .tok-mo,   // Number.Oct
  .tok-mf,   // Number.Float
  .tok-s,    // String
  .tok-sa,   // String.Affix
  .tok-sb,   // String.Backtick
  .tok-sc,   // String.Char
  .tok-dl,   // String.Delimiter
  .tok-sd,   // String.Doc
  .tok-s2,   // String.Double
  .tok-sh,   // String.Heredoc
  .tok-si,   // String.Interpol
  .tok-sx,   // String.Other
  .tok-sr,   // String.Regex
  .tok-s1,   // String.Single
  .tok-ss {  // String.Symbol
    color: var(--code-red);
  }

  .tok-se {  // String.Escape
    color: var(--code-magenta);
  }



  /*
   * Name
   */

  .tok-nc,   // Class
  .tok-nf,   // Function
  .tok-nl,   // Label
  .tok-nn,   // Namespace
  .tok-py,   // Property
  .tok-nv,   // Variable
  .tok-vc,   // Variable.Class
  .tok-vg,   // Variable.Global
  .tok-vi,   // Variable.Instance
  .tok-vm {  // Variable.Magic
    color: var(--code-cyan);
  }

  .tok-ne,   // Exception
  .tok-nt {  // Tag
    color: var(--code-green);
  }

  .tok-nb    // Builtin
  .tok-no,   // Constant
  .tok-nd,   // Decorator
  .tok-ni {  // Entity
    color: var(--code-magenta)
  }

  .tok-na { color: var(--code-red)     }  // Attribute
  .tok-ow { color: var(--code-yellow); }  // Operator.Word



  /*
   * HTML
   */

  code[data-lang="html"] {
    .tok-na { color: var(--code-green);  }  // Name.Attribute
    .tok-nt { color: var(--code-yellow); }  // Name.Tag
    .tok-p  { color: var(--code-cyan);   }  // Punctuation
  }


  /*
   * Diff
   */

  code[data-lang="diff"] {
    .tok-gh { color: var(--code-green);  }  // Generic.Heading
    .tok-gu { color: var(--code-yellow); }  // Generic.Subheading
  }


  /*
   * CSS/SCSS
   */
  code[data-lang="css"],
  code[data-lang="scss"] {
    .tok-nn { color: var(--code-red); }  // Namespace
  }
}
