---
permalink: /
layout: default
description:
  Serwus, welcome to my boring website. I am a student interested in technology, born in Poland and living in New Zealand.
pagination:
  enabled: true
---

{% if paginator.page == 1 %}
  <div class="card rounded-b-none sm:rounded-bl">
    <em title="One way to say hello in Polish">Serwus</em>,
    welcome to my boring website. I am a student interested in technology, born in
    <span class="whitespace-nowrap">
      <img
        src="/assets/img/flags/pl.svg"
        class="h-4 inline-block"
        alt="Flag of Poland"
        aria-hidden="true" />
      Poland
    </span>
    and living in
    <span class="whitespace-nowrap">
      <img
        src="/assets/img/flags/nz.svg"
        class="h-4 inline-block"
        alt="Flag of New Zealand"
        aria-hidden="true" />
      New Zealand.
    </span>
    I like having pineapple on my pizza.
  </div>

  <div class="sm:flex justify-end mb-10 sm:-mb-4">
    <a class="btn btn-orange rounded-t-none flex justify-center items-center px-6" href="/feed.xml">
      <img
        src="/assets/img/layout/rss.svg"
        class="w-5 h-5 mr-2"
        alt="RSS logo"
        aria-hidden="true" />
      Atom feed
    </a>
  </div>
{% endif %}


{% for post in paginator.posts %}
  <div class="my-6">
    <span class="text-muted text-lg mr-2">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a class="text-lg" href="{{ post.url }}">{{ post.title }}</a>
    {{ post.excerpt }}
  </div>
{% endfor %}


{% if paginator.total_pages > 1 %}
  <div class="flex mt-6 lg:mb-6">
    {% if paginator.previous_page %}
      <a
        class="btn btn-blue"
        href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
        &lt; Page {{ paginator.previous_page }}
      </a>
    {% endif %}
    {% if paginator.next_page %}
      <a
        class="btn btn-blue ml-auto"
        href="{{ paginator.next_page_path | prepend: site.baseurl }}">
        Page {{ paginator.next_page }} &gt;
      </a>
    {% endif %}
  </div>
{% endif %}
