---
permalink: /
layout: default
description:
  Serwus, my name is Dawid Potocki and I'm a student interested in technology. I was born in Poland, but I currently happily live in New Zealand.
pagination:
  enabled: true
---

{% if paginator.page == 1 %}
  <div class="card card--frontpage">
    Serwus, my name is Dawid Potocki and I'm a student interested in
    technology. I was born in
    {% include flag.html country="Poland," code="pl" %}
    but I currently happily live in
    {% include flag.html country="New Zealand." code="nz" %}
  </div>

  <div class="btn-feed-container">
    <span class="nocss-helper">[</span>
    <a class="btn btn--feed btn--orange" href="/feed.xml">
      <img class="btn__img" src="/assets/img/rss.svg?v=1" alt="" aria-hidden="true" />
      <span>Atom feed</span>
    </a>
    <span class="nocss-helper">]</span>
  </div>

  <p class="nocss-helper"></p>
{% endif %}


{% for post in paginator.posts %}
  <div class="article-preview">
    <span class="article-preview__date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a class="article-preview__title" href="{{ post.url }}">{{ post.title }}</a>
    <div class="article-preview__excerpt">
      {{ post.excerpt }}
    </div>
  </div>
{% endfor %}


{% if paginator.total_pages > 1 %}
  <footer class="d-flex">
    {% if paginator.previous_page %}
      <span class="nocss-helper">[</span>
      <a
        class="btn btn--small btn--gray rounded-r-none"
        href="{{ paginator.first_page_path | prepend: site.baseurl }}">
        &lt;&lt;
      </a>
      <span class="nocss-helper">] [</span>
      <a
        class="btn btn--blue rounded-l-none"
        href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
        <span><b>&lt;</b> Page {{ paginator.previous_page }}</span>
      </a>
      <span class="nocss-helper">]</span>
    {% endif %}
    {% if paginator.next_page %}
      <span class="nocss-helper">[</span>
      <a
        class="btn btn--blue ml-auto rounded-r-none"
        href="{{ paginator.next_page_path | prepend: site.baseurl }}">
        <span>Page {{ paginator.next_page }} <b>&gt;</b></span>
      </a>
      <span class="nocss-helper">] [</span>
      <a
        class="btn btn--small btn--gray rounded-l-none"
        href="{{ paginator.last_page_path | prepend: site.baseurl }}">
        &gt;&gt;
      </a>
      <span class="nocss-helper">]</span>
    {% endif %}
  </footer>
{% endif %}
