---
permalink: /librejs/
title: LibreJS
layout: default
sitemap: false
---

<table id="jslicense-labels1">
  <thead>
    <th>File</th>
    <th>License</th>
  </thead>

  <tr>
    <td><a href="/assets/js/main.js">main.js</a></td>
    <td><a href="/LICENSE">BSD-2-Clause</a></td>
  </tr>
</table>
