<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/assets/css/normalize.css?v=1" rel="stylesheet" />
    <link href="/assets/css/main.css?v=1"  rel="stylesheet" />
    <link href="/assets/css/dark.css?v=1"  rel="stylesheet" media="screen and (prefers-color-scheme: dark)" />
    <link href="/assets/css/print.css?v=1" rel="stylesheet" media="print" />

    <meta name="theme-color" content="#e5e7ed" />
    <meta name="theme-color" content="#1b2026" media="screen and (prefers-color-scheme: dark)" />

    <link rel="icon" sizes="144x144" href="/assets/img/favicon/square-144x144.png?v=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/square-180x180.png?v=1" />
    <link rel="manifest" href="/manifest.json?v=1" />

    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/feed.xml" />
    {% seo %}
  </head>

  <body>
    <a class="skip-to-content" href="#main">Skip to content</a>
    {% include nav.html %}
    <div id="container">
      <main id="main">
        {{ content }}
      </main>
      {% include aside.html %}
    </div>

    <div id="clipboard"></div>
    <a data-jslicense="1" href="/librejs/" hidden></a>
    <script src="/assets/js/main.js?v=1"></script>
  </body>
</html>
