---
layout: base
---

<article class="article">
  <h1>{{ page.title }}</h1>
  <div class="article__date">
    <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
      posted on {{ page.date | date: "%Y-%m-%d" }}
    </time>
    {% if page.last_modified_at %}
    <time datetime="{{ page.last_modified_at | date: '%Y-%m-%d' }}">
      | last modified on {{ page.last_modified_at | date: "%Y-%m-%d" }}
    </time>
    {% endif %}
  </div>

  {{ content }}
</article>
